BattleNet/.vs
BattleNet/Temp
BattleNet/Assembly-CSharp.csproj
*.sln
BattleNet/Library
CrimeScene/Library
BattleNet/obj
BattleNet/Logs
CrimeScene/Logs
CrimeScene/Temp
CrimeSceneV2/.vs
CrimeSceneV2/Assembly-CSharp.csproj
CrimeSceneV2/obj
CrimeSceneV2/Library
CrimeSceneV2/Logs
CrimeSceneV2/Assembly-CSharp-Editor.csproj
Chat/Temp
Chat/Assembly-CSharp.csproj
Chat/obj
Chat/Library
Chat/Logs
Chat/.vs
CrimeSceneV2/Temp
*.zip
*.7z
Rube Goldberg/.vs/Rube Goldberg/v16
Rube Goldberg/Library
Rube Goldberg/obj
Rube Goldberg/Logs
Rube Goldberg/Temp
Trebuchet/Trebuchet/Library
Trebuchet/Trebuchet/Logs
*.csproj
Trebuchet/Trebuchet/obj
